<h1>
    Sign In page
</h1>

<div>
    <form [formGroup]="signinForm">
        <p>Login</p>
        <input type="text" placeholder="Login" formControlName="login">
        <p>Password</p>
        <input type="password" placeholder="Password" formControlName="password">
        <button (click)="onSubmit()" class="btn" [disabled]="!signinForm.valid">Sign in</button>
    </form>
    <hr>
    <p>Do not have an account?</p>
    <a [routerLink]="['/signin','signup']">Sign Up</a>

    <router-outlet></router-outlet>
</div>